<a href="https://colab.research.google.com/github/Dylan1156/DSC.110_test/blob/main/Python/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prints a message to the screen
# useful for testing that Python is running
print('Hello World')

Hello World

# Variables

In this section, we'll discuss variables

In [ ]:
print(Hellow World)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3549984686.py, line 1)

In [ ]:
a = 'Boston'

In [ ]:
print(a)

Boston

In [ ]:
# prints the last character of a string
# negative index means start from the end
print(a[-1])

n

In [ ]:
2+3

5

In [ ]:
b = 2
c = 3

In [ ]:
b+c

5

In [ ]:
d = b+c

In [ ]:
print(d)

5

In [ ]:
c

int

In [ ]:
# type() shows what kind of data something is
# helps us understand what we are working with
type(a)

str

In [ ]:
# ** means exponent (power)
# this calculates 5 squared
5**2

25

# **Data Structures (Cointainers)**

List

In [ ]:
# create a list to store multiple values
# lists help organize data
My_List=[1, 2, 3, 5, 'a']

In [ ]:
print(My_List)

[1, 2, 3, 5, 'a']

In [ ]:
# print the first item in the list
# indexing starts at 0 in Python
print(My_List[0])

1

In [ ]:
# change the first value in the list
# lists are mutable (can be updated)
My_List[0]=10

In [ ]:
print(My_List)

[10, 2, 3, 5, 'a']

Tuples

In [ ]:
# tuple stores multiple values
# tuples cannot be changed after creation
My_Tuple=(1, 2, 3, 'a')

In [ ]:
print(My_Tuple)

(1, 2, 3, 'a')

In [ ]:
print(My_Tuple[0])

1

In [ ]:
My_Tuple[0]=10

TypeError: 'tuple' object does not support item assignment

Dictionary

In [ ]:
# dictionary stores data using keys and values
# useful for labeling and retrieving information
My_Dictionary={
    'Name':"Heather",
    'Age': '35',
    'Gender': 'Female',
    'City': 'Boston'
}

In [ ]:
My_Dictionary['Name']

'Heather'

Sets

In [ ]:
# sets store unique values only
# duplicate values are automatically removed
My_Set={1, 2, 3, 4, 5, 5}

In [ ]:
print(My_Set)

{1, 2, 3, 4, 5}

In [ ]:

My_set[0]

NameError: name 'My_set' is not defined

# **Functions**

In [ ]:
#Celsius to Fahrenheit conversion equation
temp = (4 * 9/5) + 32
print(temp)

39.2

In [ ]:
temp = (-6 * 9/5) + 32
print(temp)

21.2

In [ ]:
# function converts Celsius to Fahrenheit
# functions allow code reuse and organization
def c_to_f(c_temp):
  f_temp=(c_temp * (9/5)) + 32
  return f_temp

In [ ]:
f_temp = c_to_f(4)
print(f_temp)

39.2

Formatted string literals

In [ ]:
# f-string inserts the calculated value into the sentence
# makes output easier to read
print(f'The temperature now is {c_to_f(35)}F')

The temperature now is 95.0F

Loops

In [ ]:
# list of temperatures in Celsius
My_Temp_List_C = [0, 10, 20, 30, 40]

In [ ]:
# convert individual temperatures
c_to_f(0)
c_to_f(10)

50.0

In [ ]:
# loop goes through each value in the list
# prevents repeating code multiple times
for c_temp in My_Temp_List_C:
  print(c_to_f(c_temp))

32.0
50.0
68.0
86.0
104.0

In [ ]:
# function calculates Body Mass Index (BMI)
# BMI helps estimate healthy body weight
def calculate_bmi(weight, height):
  bmi = weight_kg / (height_m ** 2)
  return bmi

In [ ]:
print(calculate_bmi(90, 1.85))

26.296566837107374

In [ ]:
def calculate_bmi(height_m, weight_kg):
  bmi = weight_kg / (height_m ** 2)
  return bmi

In [ ]:
print(calculate_bmi(weight_kg=90, height_m=1.85))

26.296566837107374

In [ ]:
bmi=70
if bmi<20:
  print('Underweight')
if bmi>65:
  print('Overweight')
else:
  print('Normal')

Overweight

Libraries

Below is how to import libraries
Libraries in Python have built-in function
This demonstrates using one line from np.mean can save you time

In [ ]:
# pandas is used for working with tables and datasets
import pandas as pd
# numpy is used for math operations and averages
import numpy as np

In [ ]:
# sum() adds all values in the list
# useful for totals
sum_c = sum(My_Temp_List_C)
print(c)

3

In [ ]:
len_c = len(My_Temp_List_C)
print(len_c)

5

In [ ]:
# np.mean() calculates the average value
# helps understand overall trends
a = np.mean(My_Temp_List_C)
print(a)

20.0